<section class="d-flex justify-content-center bg-body-secondary mrb-100">
    <div class="py-5" style="width: 1000px;">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img src="public/image/picture/fix.jpg"
                    class="img-fluid" alt="Phone image">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <h3 class="text-center fs-1 fw-bold mb-4">Quên mật khẩu</h3>
                <form name="forgetPasssword">
                    <div class="mb-4" ng-class="{ 'has-error': forgetPasssword.email.$invalid , 'has-success':forgetPasssword.email.$valid && forgetPasssword.email.$dirty }">
                        <label class="fs-4">Email</label>
                        <input required type="email" ng-model="email" name="email" class="form-control form-control-lg"/>
                        <p class="fs-5 fw-bold text-danger" ng-show="forgetPasssword.email.$error.email">Địa chỉ email không hợp lệ.</p>
                    </div>
                    <button ng-click="forgetpass()" type="submit" class="btn btn-danger btn-lg btn-block fs-4">Lấy mật khẩu</button>
                </form>
            </div>
        </div>
    </div>
</section>