<section class="container ">
    <div class="d-flex justify-content-between">
        <div class="d-flex flex-column mb-3 text-unline">
            <h3 class="text-dark">
                Trang chủ
            </h3>
            <a href="">Trang chủ</a>
            <a href=""> Ví dụ</a>
            <a href=""> Biểu tượng</a>
            <a href=""> Chủ đề</a>
        </div>
        <div class="d-flex flex-column mb-3 text-unline">
            <h3 class="text-dark">
                Giới thiệu
            </h3>
            <a href="">Bắt đầu sdsdsd</a>
            <a href=""> Mẫu khởi đầu</a>
            <a href=""> Video</a>
        </div>
        <div class="d-flex flex-column mb-3 text-unline">
            <h3 class="text-dark">
                Góp ý
            </h3>
            <a href=""> Vấn đề</a>
            <a href=""> Nhà tài trợ</a>
            <a href=""> Thảo luận</a>
        </div>
        <div class="d-flex flex-column mb-3 text-unline">
            <h3 class="mb-5  text-dark">
                Liên lạc với chúng tôi
            </h3>
            <p class="fz-16 mb-3">Bạn sẽ có nhiều ưu đãi với vô vàng voucher hấp dẫn.</p>
            <div class="icons mb-3">
                <a href=""><i class="bi bi-facebook fs-2 me-3"></i> &ensp;</a>
                <a href=""><i class="bi bi-instagram fs-2 me-3"></i> &ensp;</a>
                <a href=""><i class="bi bi-twitter fs-2 me-3"></i> &ensp;</a>
            </div>
            <div class="contact">
                <p class="fz-16">
                    <a href=""></a>
                </p>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="text-footer-end"> © Copyright 2020.com, All rights reserved.</div>
    </div>
</section>