<section class="blog mrb-100">
        <h2 class="text-center fz-35">Gợi ý cho bạn</h2>
        <p class="text-center sub-header fz-16 mb-5"> Sẽ phù dành cho bạn</p>
        <div class="container">
            <div class="row text-center">
                <div class="col border rounded me-4 p-0">
                    <a href="detail.html" class="text-unline">
                        <img loading="lazy" src="public/image/picture/bantree.avif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-title font-w-600 bg-body-tertiary py-2"> Tin hoc</p>
                        </div>
                        <div class="d-flex justify-content-between mb-2 px-3 fs-5 text-dark">
                            <div class="icon time"><i class="bi bi-clock-history me-2"></i><span>90 phút</span>
                            </div>
                            <div class="icon number"><i class="bi bi-award me-2"></i><span>+99K</span></div>
                        </div>
                        <a href="">
                            <div class="btn btn-light font-w-600 fs-4 mb-2">Xem khóa học</div>
                        </a>
                    </a>
                </div>
                <div class="col border rounded me-4 p-0">
                    <a href="detail.html" class="text-unline">
                        <img loading="lazy" src="public/image/picture/bantree.avif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-title font-w-600 bg-body-tertiary py-2"> Tin hoc</p>
                        </div>
                        <div class="d-flex justify-content-between mb-2 px-3 fs-5 text-dark">
                            <div class="icon time"><i class="bi bi-clock-history me-2"></i><span>90 phút</span>
                            </div>
                            <div class="icon number"><i class="bi bi-award me-2"></i><span>+99K</span></div>
                        </div>
                        <a href="">
                            <div class="btn btn-light font-w-600 fs-4 mb-2">Xem khóa học</div>
                        </a>
                    </a>
                </div>
                <div class="col border rounded me-4 p-0">
                    <a href="detail.html" class="text-unline">
                        <img loading="lazy" src="public/image/picture/bantree.avif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-title font-w-600 bg-body-tertiary py-2"> Tin hoc</p>
                        </div>
                        <div class="d-flex justify-content-between mb-2 px-3 fs-5 text-dark">
                            <div class="icon time"><i class="bi bi-clock-history me-2"></i><span>90 phút</span>
                            </div>
                            <div class="icon number"><i class="bi bi-award me-2"></i><span>+99K</span></div>
                        </div>
                        <a href="">
                            <div class="btn btn-light font-w-600 fs-4 mb-2">Xem khóa học</div>
                        </a>
                    </a>
                </div>
                <div class="col border rounded me-4 p-0">
                    <a href="detail.html" class="text-unline">
                        <img loading="lazy" src="public/image/picture/bantree.avif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-title font-w-600 bg-body-tertiary py-2"> Tin hoc</p>
                        </div>
                        <div class="d-flex justify-content-between mb-2 px-3 fs-5 text-dark">
                            <div class="icon time"><i class="bi bi-clock-history me-2"></i><span>90 phút</span>
                            </div>
                            <div class="icon number"><i class="bi bi-award me-2"></i><span>+99K</span></div>
                        </div>
                        <a href="">
                            <div class="btn btn-light font-w-600 fs-4 mb-2">Xem khóa học</div>
                        </a>
                    </a>
                </div>
                <div class="col border rounded me-4 p-0">
                    <a href="detail.html" class="text-unline">
                        <img loading="lazy" src="public/image/picture/bantree.avif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-title font-w-600 bg-body-tertiary py-2"> Tin hoc</p>
                        </div>
                        <div class="d-flex justify-content-between mb-2 px-3 fs-5 text-dark">
                            <div class="icon time"><i class="bi bi-clock-history me-2"></i><span>90 phút</span>
                            </div>
                            <div class="icon number"><i class="bi bi-award me-2"></i><span>+99K</span></div>
                        </div>
                        <a href="">
                            <div class="btn btn-light font-w-600 fs-4 mb-2">Xem khóa học</div>
                        </a>
                    </a>
                </div>
            </div>
            <div class="d-flex justify-content-between fs-4 mt-3">
                <div class="">&ensp;</div>
                <a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;" href="#">
                    Xem thêm
                    <i class="bi bi-arrow-right" aria-hidden="true">
                        <use xlink:href="#arrow-right"></use>
                    </i>
                </a>
            </div>
        </div>
        </div>
    </section>

    <section class="blog mrb-100">
        <h2 class="text-center fz-35 mb-5">Trắc nghiệm thông minh</h2>
        <div class="container text-center">
            <div class="row justify-content-around">
                <div class="col-3">
                    <img src="public/image/picture/icon1.png" alt="" style="width: 80%;">
                    <div class="card-body">
                        <h5 class="card-title fs-1 mb-3">Đa dạng nội dung</h5>
                        <p class="card-text fs-4">Cung cấp da dạng nội dung các câu hỏi trắc nghiệm thuôc nhiều lĩnh vực
                            khác nhau</p>
                    </div>
                </div>
                <div class="col-3">
                    <img src="public/image/picture/icon2.png" alt="" style="width: 80%;">
                    <div class="card-body">
                        <h5 class="card-title fs-1 mb-3 mt-4">Ma trận câu hỏi</h5>
                        <p class="card-text fs-4">Cung cấp da dạng nội dung các câu hỏi trắc nghiệm thuôc nhiều lĩnh vực
                            khác nhau</p>
                    </div>
                </div>
                <div class="col-3">
                    <img src="public/image/picture/icon3.png" alt="" style="width: 80%;">
                    <div class="card-body">
                        <h5 class="card-title fs-1 mb-3">Đáp án chi tiết</h5>
                        <p class="card-text fs-4">Cung cấp da dạng nội dung các câu hỏi trắc nghiệm thuôc nhiều lĩnh vực
                            khác nhau</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="store mrb-100">
        <h2 class="text-center fz-35">Tài liệu tham khảo</h2>
        <p class="text-center sub-header fz-16 mb-5"> Đa dạng - phổ biến - chính xác</p>
        <div class="container text-center">
            <div class="row justify-content-around gap-1">
                <div class="col-2 text-unline">
                    <a href="" class="text-unline text-dark">
                        <img src="public/image/picture/english.jpg" alt="">
                        <p class="text-start fs-4">Hướng dẫn giải bài tập tiếng anh</p>
                    </a>
                </div>
                <div class="col-2 text-unline">
                    <a href="" class="text-unline text-dark">
                        <img src="https://s.tracnghiem.net/images/share/thumb/230x144/457_1599829951.jpg" alt="">
                        <p class="text-start fs-4">Hướng dẫn giải bài tập tiếng anh</p>
                    </a>
                </div>
                <div class="col-2 text-unline">
                    <a href="" class="text-unline text-dark">
                        <img src="https://s.tracnghiem.net/images/share/thumb/230x144/906_1599817514.jpg" alt="">
                        <p class="text-start fs-4">Hướng dẫn giải bài tập tiếng anh</p>
                    </a>
                </div>
                <div class="col-2 text-unline">
                    <a href="" class="text-unline text-dark">
                        <img src="https://s.tracnghiem.net/images/share/thumb/230x144/852_1599814579.jpg" alt="">
                        <p class="text-start fs-4">Hướng dẫn giải bài tập tiếng anh</p>
                    </a>
                </div>
                <div class="col-2 text-unline">
                    <a href="" class="text-unline text-dark">
                        <img src="https://s.tracnghiem.net/images/share/thumb/230x144/229_1599814502.jpg" alt="">
                        <p class="text-start fs-4">Hướng dẫn giải bài tập tiếng anh</p>
                    </a>
                </div>
            </div>
            <div class="row justify-content-around gap-1">
                <div class="col-2 text-unline">
                    <a href="" class="text-unline text-dark">
                        <img src="https://s.tracnghiem.net/images/share/thumb/230x144/344_1599830182.jpg" alt="">
                        <p class="text-start fs-4">Hướng dẫn giải bài tập tiếng anh</p>
                    </a>
                </div>
                <div class="col-2 text-unline">
                    <a href="" class="text-unline text-dark">
                        <img src="https://s.tracnghiem.net/images/share/thumb/230x144/529_1599818051.jpg" alt="">
                        <p class="text-start fs-4">Hướng dẫn giải bài tập tiếng anh</p>
                    </a>
                </div>
                <div class="col-2 text-unline">
                    <a href="" class="text-unline text-dark">
                        <img src="https://s.tracnghiem.net/images/share/thumb/230x144/674_1599859723.jpg" alt="">
                        <p class="text-start fs-4">Hướng dẫn giải bài tập tiếng anh</p>
                    </a>
                </div>
                <div class="col-2 text-unline">
                    <a href="" class="text-unline text-dark">
                        <img src="https://s.tracnghiem.net/images/share/thumb/230x144/300_1599877591.jpg" alt="">
                        <p class="text-start fs-4">Hướng dẫn giải bài tập tiếng anh</p>
                    </a>
                </div>
                <div class="col-2 text-unline">
                    <a href="" class="text-unline text-dark">
                        <img src="public/image/picture/vatli.jpg" alt="">
                        <p class="text-start fs-4">Hướng dẫn giải bài tập tiếng anh</p>
                    </a>
                </div>
            </div>
        </div>
    </section>